<footer class="site-footer">

  <!-- Used .container class insted of wrapper -->
  <div class="container">


    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <a href="https://www.esciencecenter.nl"><img src="/images/ESCIENCE_logo_C_nl_cyanblack.jpg" class="nlesc-logo" /></a>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
